.green {
  background: #8BC34A;
}

.orange {
  background: orange;
}

.amber {
  background: #FFC107;
}

.teal {
  background: #1DE9B6;
}

.purple {
  background: purple;
}

.cyan {
  background: #00BCD4;
}

.pink {
  background: #F06292;
}

.text-light {
  color: #c6c6c6;
}